In [1]:
import pandas as pd
import geopandas as gpd

housing_prices = pd.read_csv("..\\data\\2023-q4-county-median-prices-and-monthly-mortgage-payment-by-price-03-19-2024.csv")

counties = gpd.read_file("..\\data\\Countys\\gz_2010_us_050_00_5m\\gz_2010_us_050_00_5m.shp")

Split County Name into COUNTY and STATE in housing_prices

In [2]:
housing_prices[["COUNTY","STATE"]] = housing_prices['County Name'].str.split(", ", expand=True)
housing_prices['COUNTY'] = housing_prices['COUNTY'].str.replace(' County', '')

In [3]:
state_abbrev = {
    ' Alabama': 'AL', ' Alaska': 'AK', ' Arizona': 'AZ', ' Arkansas': 'AR', ' California': 'CA',
    ' Colorado': 'CO', ' Connecticut': 'CT', ' Delaware': 'DE', ' Florida': 'FL', ' Georgia': 'GA',
    ' Hawaii': 'HI', ' Idaho': 'ID', ' Illinois': 'IL', ' Indiana': 'IN', ' Iowa': 'IA',
    ' Kansas': 'KS', ' Kentucky': 'KY', ' Louisiana': 'LA', ' Maine': 'ME', ' Maryland': 'MD',
    ' Massachusetts': 'MA', ' Michigan': 'MI', ' Minnesota': 'MN', ' Mississippi': 'MS', ' Missouri': 'MO',
    ' Montana': 'MT', ' Nebraska': 'NE', ' Nevada': 'NV', ' New Hampshire': 'NH', ' New Jersey': 'NJ',
    ' New Mexico': 'NM', ' New York': 'NY', ' North Carolina': 'NC', ' North Dakota': 'ND', ' Ohio': 'OH',
    ' Oklahoma': 'OK', ' Oregon': 'OR', ' Pennsylvania': 'PA', ' Rhode Island': 'RI', ' South Carolina': 'SC',
    ' South Dakota': 'SD', ' Tennessee': 'TN', ' Texas': 'TX', ' Utah': 'UT', ' Vermont': 'VT',
    ' Virginia': 'VA', ' Washington': 'WA', ' West Virginia': 'WV', ' Wisconsin': 'WI', ' Wyoming': 'WY'
}


# Replace full state names with abbreviations in the housing_prices DataFrame
housing_prices['STATE'] = housing_prices['STATE'].replace(state_abbrev)

In [4]:
# Create a unique identifier for each county by combining county and state
housing_prices['COUNTY_ID'] = housing_prices['COUNTY'] + ', ' + housing_prices['STATE']

In [5]:
# Drop the original "County Name" column
housing_prices = housing_prices.drop('County Name', axis=1)

In [6]:
housing_prices

,Median Home Price Q4 2023,Monthly Payment Q4 2023,Monthly Payment Q4 2022,COUNTY,STATE,COUNTY_ID
0,"$1,575,350","$9,720","$9,210",San Mateo,CA,"San Mateo, CA"
1,"$1,553,450","$9,580","$8,570",Santa Clara,CA,"Santa Clara, CA"
2,"$1,456,190","$8,980","$8,520",Marin,CA,"Marin, CA"
3,"$1,334,250","$8,230","$7,800",San Francisco,CA,"San Francisco, CA"
4,"$1,181,140","$7,290","$6,610",Teton,WY,"Teton, WY"
...,...,...,...,...,...,...
3100,"$56,440",$350,$320,Stonewall,TX,"Stonewall, TX"
3101,"$53,040",$330,$300,Cottle,TX,"Cottle, TX"
3102,"$50,740",$310,$280,McDowell,WV,"McDowell, WV"
3103,"$49,530",$310,$280,Cochran,TX,"Cochran, TX"
3104,"$42,660",$260,$240,Todd,SD,"Todd, SD"

In [7]:
housing_prices["COUNTY_ID"] = housing_prices["COUNTY"] + ", " + housing_prices["STATE"]

In [8]:
housing_prices

,Median Home Price Q4 2023,Monthly Payment Q4 2023,Monthly Payment Q4 2022,COUNTY,STATE,COUNTY_ID
0,"$1,575,350","$9,720","$9,210",San Mateo,CA,"San Mateo, CA"
1,"$1,553,450","$9,580","$8,570",Santa Clara,CA,"Santa Clara, CA"
2,"$1,456,190","$8,980","$8,520",Marin,CA,"Marin, CA"
3,"$1,334,250","$8,230","$7,800",San Francisco,CA,"San Francisco, CA"
4,"$1,181,140","$7,290","$6,610",Teton,WY,"Teton, WY"
...,...,...,...,...,...,...
3100,"$56,440",$350,$320,Stonewall,TX,"Stonewall, TX"
3101,"$53,040",$330,$300,Cottle,TX,"Cottle, TX"
3102,"$50,740",$310,$280,McDowell,WV,"McDowell, WV"
3103,"$49,530",$310,$280,Cochran,TX,"Cochran, TX"
3104,"$42,660",$260,$240,Todd,SD,"Todd, SD"

In [9]:
counties

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry
0,0500000US02261,02,261,Valdez-Cordova,CA,34239.880,"MULTIPOLYGON (((-147.48383 60.61864, -147.5000..."
1,0500000US02270,02,270,Wade Hampton,CA,17081.433,"POLYGON ((-162.58775 63.27573, -162.55188 63.2..."
2,0500000US02275,02,275,Wrangell,Cty&Bor,2541.483,"MULTIPOLYGON (((-132.56989 56.63350, -132.5703..."
3,0500000US02290,02,290,Yukon-Koyukuk,CA,145504.789,"POLYGON ((-141.00246 65.83942, -141.09244 65.8..."
4,0500000US04003,04,003,Cochise,County,6165.690,"POLYGON ((-109.04761 32.42638, -109.04829 32.0..."
...,...,...,...,...,...,...,...
3216,0500000US50025,50,025,Windham,County,785.305,"POLYGON ((-72.43447 43.23043, -72.43766 43.225..."
3217,0500000US50027,50,027,Windsor,County,969.337,"POLYGON ((-72.43380 43.23300, -72.43497 43.233..."
3218,0500000US51001,51,001,Accomack,County,449.496,"MULTIPOLYGON (((-75.97361 37.83582, -75.97171 ..."
3219,0500000US51005,51,005,Alleghany,County,445.457,"POLYGON ((-80.29614 37.69178, -80.29411 37.693..."
3220,0500000US51007,51,007,Amelia,County,355.269,"POLYGON ((-77.85515 37.41836, -77.87549 37.416..."

In [10]:
state_codes = {
    '12': 'FL', '56': 'WY', '72': 'PR', '34': 'NJ', '35': 'NM', '48': 'TX',
    '53': 'WA', '10': 'DE', '11': 'DC', '55': 'WI', '54': 'WV', '15': 'HI',
    '22': 'LA', '37': 'NC', '38': 'ND', '31': 'NE', '47': 'TN', '36': 'NY',
    '42': 'PA', '02': 'AK', '32': 'NV', '33': 'NH', '51': 'VA', '08': 'CO',
    '06': 'CA', '01': 'AL', '05': 'AR', '50': 'VT', '17': 'IL', '13': 'GA',
    '18': 'IN', '19': 'IA', '25': 'MA', '04': 'AZ', '16': 'ID', '09': 'CT',
    '23': 'ME', '24': 'MD', '40': 'OK', '39': 'OH', '49': 'UT', '29': 'MO',
    '27': 'MN', '26': 'MI', '44': 'RI', '20': 'KS', '30': 'MT', '28': 'MS',
    '45': 'SC', '21': 'KY', '41': 'OR', '46': 'SD'
}

In [11]:
counties['STATE'] = counties['STATE'].replace(state_codes)

In [12]:
# Create a unique identifier for each county in the shapefile
counties['COUNTY_ID'] = counties['NAME'] + ', ' + counties['STATE']

In [13]:
counties

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry,COUNTY_ID
0,0500000US02261,AK,261,Valdez-Cordova,CA,34239.880,"MULTIPOLYGON (((-147.48383 60.61864, -147.5000...","Valdez-Cordova, AK"
1,0500000US02270,AK,270,Wade Hampton,CA,17081.433,"POLYGON ((-162.58775 63.27573, -162.55188 63.2...","Wade Hampton, AK"
2,0500000US02275,AK,275,Wrangell,Cty&Bor,2541.483,"MULTIPOLYGON (((-132.56989 56.63350, -132.5703...","Wrangell, AK"
3,0500000US02290,AK,290,Yukon-Koyukuk,CA,145504.789,"POLYGON ((-141.00246 65.83942, -141.09244 65.8...","Yukon-Koyukuk, AK"
4,0500000US04003,AZ,003,Cochise,County,6165.690,"POLYGON ((-109.04761 32.42638, -109.04829 32.0...","Cochise, AZ"
...,...,...,...,...,...,...,...,...
3216,0500000US50025,VT,025,Windham,County,785.305,"POLYGON ((-72.43447 43.23043, -72.43766 43.225...","Windham, VT"
3217,0500000US50027,VT,027,Windsor,County,969.337,"POLYGON ((-72.43380 43.23300, -72.43497 43.233...","Windsor, VT"
3218,0500000US51001,VA,001,Accomack,County,449.496,"MULTIPOLYGON (((-75.97361 37.83582, -75.97171 ...","Accomack, VA"
3219,0500000US51005,VA,005,Alleghany,County,445.457,"POLYGON ((-80.29614 37.69178, -80.29411 37.693...","Alleghany, VA"
3220,0500000US51007,VA,007,Amelia,County,355.269,"POLYGON ((-77.85515 37.41836, -77.87549 37.416...","Amelia, VA"

In [14]:
housing_prices = housing_prices.drop(columns=["STATE","COUNTY"])
housing_prices

,Median Home Price Q4 2023,Monthly Payment Q4 2023,Monthly Payment Q4 2022,COUNTY_ID
0,"$1,575,350","$9,720","$9,210","San Mateo, CA"
1,"$1,553,450","$9,580","$8,570","Santa Clara, CA"
2,"$1,456,190","$8,980","$8,520","Marin, CA"
3,"$1,334,250","$8,230","$7,800","San Francisco, CA"
4,"$1,181,140","$7,290","$6,610","Teton, WY"
...,...,...,...,...
3100,"$56,440",$350,$320,"Stonewall, TX"
3101,"$53,040",$330,$300,"Cottle, TX"
3102,"$50,740",$310,$280,"McDowell, WV"
3103,"$49,530",$310,$280,"Cochran, TX"
3104,"$42,660",$260,$240,"Todd, SD"

In [15]:
# Join the housing prices data with the county boundaries
merged = counties.set_index("COUNTY_ID").join(housing_prices.set_index("COUNTY_ID"))

In [16]:
merged["Median Home Price Q4 2023"] = merged["Median Home Price Q4 2023"].str.replace(',', '').str.replace('$', '').astype(float)
# merged["Monthly Payment Q4 2022"]
# merged["Monthly Payment Q4 2023"]
merged

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry,Median Home Price Q4 2023,Monthly Payment Q4 2023,Monthly Payment Q4 2022
COUNTY_ID,,,,,,,,,,
"Valdez-Cordova, AK",0500000US02261,AK,261,Valdez-Cordova,CA,34239.880,"MULTIPOLYGON (((-147.48383 60.61864, -147.5000...",NaN,NaN,NaN
"Wade Hampton, AK",0500000US02270,AK,270,Wade Hampton,CA,17081.433,"POLYGON ((-162.58775 63.27573, -162.55188 63.2...",NaN,NaN,NaN
"Wrangell, AK",0500000US02275,AK,275,Wrangell,Cty&Bor,2541.483,"MULTIPOLYGON (((-132.56989 56.63350, -132.5703...",NaN,NaN,NaN
"Yukon-Koyukuk, AK",0500000US02290,AK,290,Yukon-Koyukuk,CA,145504.789,"POLYGON ((-141.00246 65.83942, -141.09244 65.8...",NaN,NaN,NaN
"Cochise, AZ",0500000US04003,AZ,003,Cochise,County,6165.690,"POLYGON ((-109.04761 32.42638, -109.04829 32.0...",220550.0,"$1,360","$1,240"
...,...,...,...,...,...,...,...,...,...,...
"Windham, VT",0500000US50025,VT,025,Windham,County,785.305,"POLYGON ((-72.43447 43.23043, -72.43766 43.225...",279810.0,"$1,730","$1,450"
"Windsor, VT",0500000US50027,VT,027,Windsor,County,969.337,"POLYGON ((-72.43380 43.23300, -72.43497 43.233...",279470.0,"$1,720","$1,450"
"Accomack, VA",0500000US51001,VA,001,Accomack,County,449.496,"MULTIPOLYGON (((-75.97361 37.83582, -75.97171 ...",198300.0,"$1,220","$1,070"
"Alleghany, VA",0500000US51005,VA,005,Alleghany,County,445.457,"POLYGON ((-80.29614 37.69178, -80.29411 37.693...",132850.0,$820,$720
"Amelia, VA",0500000US51007,VA,007,Amelia,County,355.269,"POLYGON ((-77.85515 37.41836, -77.87549 37.416...",254370.0,"$1,570","$1,360"

In [17]:
merged.to_csv("merged.csv",index=False)

In [18]:
import json
from shapely.geometry import mapping

# Function to convert Shapely geometry to GeoJSON
def geometry_to_geojson(geometry):
    if geometry:
        return json.loads(json.dumps(mapping(geometry)))
    else:
        return None

# Convert the 'geometry' column to GeoJSON format
df['geojson'] = df['geometry'].apply(geometry_to_geojson)

# Create the choropleth map
fig = plotly.express.choropleth_mapbox(
    df,
    geojson=df['geojson'],  # Use the 'geojson' column
    locations='GEO_ID',
    color='Median Home Price Q4 2023',
    range_color=[df['Median Home Price Q4 2023'].min(), df['Median Home Price Q4 2023'].max()],
    mapbox_style="open-street-map",
    title='Median Home Price Q4 2023 by County'
)

fig.update_layout(margin=dict(l=0, r=0, t=50, b=0))
fig.show()

TypeError: Object of type MultiPolygon is not JSON serializable